<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOINC->GRC Faucet</title>
    <style>.column {
  float: left;
  width: 33.33%;
  min-height: 1px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
    </style>
</head>
<body>
<div align="center" id="header">
</div>
<div class="row">
    <div class="column" id="leftcolumn"> </div>
    <div class="column" id="middlecolumn">
        <h1>ABOUT & FAQ</h1>
      <h3>Why are the required credits so high?</h3>
      To discourage people from using the faucet instead of normal solo crunching. The high amount insures they would have been better off just crunching normally instead of creating multiple accounts to drain the faucet. We consider this faucet to be the latest technology in fighting faucet addiction.
      <h3>Who runs the faucet</h3>
      This faucet is run by makeasnek
      <h3>Can I change my username back after using the faucet?</h3>
      Of course!
        <h3>What do you do with donated funds?</h3>
      <ul>
          <li>All donated funds will be dispensed by the faucet directly. </li>
          <li>Any un-used funds will be forwarded onto the Gridcoin community wallet if this faucet ever closes or the balance becomes too high.</li>
          <li>I may use faucet funds to cover the costs for hosting the faucet. I don't expect the faucet will ever be able to fully pay for hosting, but one can dream right?</li>
          <li>You can, of course, see exactly how faucet funds are spent by using a Gridcoin block explorer like gridcoinstats.</li>
      </ul>
    </div>
    <div class="column" id="rightcolumn"> </div>
</div>
<div align="center" id="footer">
    <a href="/faucet">Home</a>
</div>
</body>
</html>