<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOINC->GRC Faucet</title>
    <style>.column {
  float: left;
  width: 33.33%;
  min-height: 1px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


    </style>
</head>
<body>
<div align="center" id="header">
</div>
        <h1>Welcome to the BOINC -> GRC Faucet</h1>
        This faucet can help you get the first few GRC you need to set up Gridcoin for solo crunching (make a beacon).
        Help keep this faucet alive by <a href="#sidestaking">sidestaking</a> a portion of your staking proceeds to it.
        <br><br>
        Here's how to use it:
        <ol>
            <li>Attach your BOINC client to one of our approved BOINC projects (<a href="https://escatter11.fullerton.edu/nfs/" target="_blank">NFS@Home</a> or <a href="https://worldcommunitygrid.org" target="_blank">World Community Grid</a>) and start crunching work for them. If you are a new user,
                <a href="https://escatter11.fullerton.edu/nfs/" target="_blank">NFS@Home</a> is <i>strongly</i> suggested as workunits validate very quickly. Otherwise, you may be waiting
                on <i>another user</i> to complete the same workunit which could take days!
            </li>
            <li>You must temporarily change your username/nickname at the project to your GRC address. This verifies you
                are the true owner of the account. You can find your GRC address in the Gridcoin wallet under the "Receive" tab. When changing your username, the site may cut off the end of your address, this
                is fine. To change your username, log in to the project website. On NFS@Home you can find the setting at my account > <a href="https://escatter11.fullerton.edu/nfs/edit_user_info_form.php" target="_blank"> other account info</a>. On WCG go <a href="https://www.worldcommunitygrid.org/ms/viewMyProfile.do" target="_blank">here</a>. If you are prompted to login, the login page may redirect you to the main account page. Click the link again and you'll end up in the right spot.
            </li>
            <li>Your work will earn credits. Once you have some credits, paste the link to your user profile in
                the form below (see <a href="#profileurls">Profile URLs</a> below for format), along with your GRC address, to receive 2 GRC. If
                you don't have enough credits, it will tell you to come back later. Note that credit amounts only update
                once every 24 hours.
            </li>
            <li>WCG Users: WCG requires you to manually enable stats export. Go <a href="https://www.worldcommunitygrid.org/ms/viewDataSharing.action">here</a> to do so and choose "display my data". NFS@home does not require this.
            </li>
            <li>Existing BOINC users who maybe haven't crunched for a while: you must have at least some "recent average
                credit" ("RAC"), meaning you must have crunched at least one workunit in roughly the past 2 weeks. Your
                RAC can be very small, but it must be greater than 1
            </li>
        </ol>
        <h3>{{ BALANCEWARNING }}</h3>
        <h3>REQUEST YOUR 2 GRC</h3>
        <form method="POST">
            <div><label>Profile Url: <input type="text" name="profileurl" autocomplete="on"></label></div>
            <div><label>GRC Address: <input type="text" name="grcaddress" autocomplete="on"></label></div>
            {{ hcaptcha|safe }}
            <input type="submit" value="Submit">
        </form>
If this faucet gives you any troubles, please contact makeasnek on the <a href="https://discord.gg/UMWUnMjN4x" target="_blank">Gridcoin discord</a>
        {{ SUCCESS|safe }}<h3>{{ ERROR }}</h3>
        <a id="profileurls"><h3>Profile URLs</h3></a>
        <ul>
            <li>NFS@Home: In BOINC manager, go to view -> advanced view. Go to project tab, select NFS@Home. On left
                side, click "your account data". Or, on NFS@Home website, go to Your Account (you go here automatically
                upon login) --> Profile (on right) --> Account Data (on right).
            </li>
            <li>On WCG go to Account (top right) -> Profile
                and Settings -> Profile (left) and get your account number (bottom). Replace the account # in example
                url below with your account #
            </li>
        </ul>
        <b>This is the expected URL format:<br></b>
        <ul>
            <li>https://escatter11.fullerton.edu/nfs/show_user.php?userid=1111</li>
            <li>https://worldcommunitygrid.org/boinc/show_user.php?userid=1156028</li>
        </ul>
        <h3>Faucet Rules</h3>
        <ul>
            <li>The faucet will only dispense GRC to you once</li>
            <li>If you already have a beacon setup, you can't use the faucet</li>
            <li>If you have >2 GRC in your wallet, you can't use the faucet since you already have enough for a beacon
            </li>
        </ul>
        <a id="sidestaking"><h3>Donate</h3></a>
        This faucet is funded by people like you! You can donate directly to the faucet by sending GRC to
        {{FAUCETADDRESS}}.<br><br>
        You can also sidestake, which means donating a % of your staking rewards, this is a good way to donate small
        amounts over time. To add this faucet to your wallet's sidestakes:
        <ul>
            <li>Shut down Gridcoin wallet</li>
            <li>Open the GridcoinResearch.conf file in your <a href="https://gridcoin.us/wiki/faq.html">data directory</a></li>
            <li>Add the following two lines, changing 5 to the % you want to donate from each stake. 5=5%, 10=10% etc</li>
            <li>enablesidestaking=1</li>
            <li> sidestake={{ FAUCETADDRESS }},5</li>
            <li>Save the file and re-open your wallet</li>
        </ul>
        Special thanks to <a href="https://gridcoinstats.eu" target="_blank">Gridcoinstats.eu</a> which this faucet relies on. They could use a donation too SK7WASoXZFQrQLwTmabkS3Co8RUq6UevDU.<br><br>
        <p>Current faucet balance: {{ BALANCE }}GRC.</p>
        <p>Total faucet uses: {{ config.TOTAL_DISPENSED }} for {{ config.TOTAL_GRC_DISPENSED }} total GRC</p>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1T8N9C2X7T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1T8N9C2X7T');


</script>

<div align="center" id="footer">
    <a href="about_faucet">About</a><br>
</div>
</body>
</html>